@font-face {
    font-family: 'mont';
    src: url('./fonts/Montserrat/static/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'nuni';
    src: url('./fonts/Nunito/static/Nunito-Regular.ttf');
}