.container{
  .news_page{
    width: 100%;
    position: relative;
    .left{
      position: absolute;
      top: 40%;
      transform: translateX(50%);
      left: -105px;
      @include mobile{
        display: none;
      }
    }
    .right{
      position: absolute;
      top: 20%;
      right: -140px;
      z-index: -10;
      @include mobile{
        display: none;
      }
    }
    .news_page_middle{
      width: 95%;
      @include flex(space-between, flex-end);
      @include mobile{
        width: 100%;
        flex-direction: column;
        margin-bottom: 30px;
      }
      .news_page_title{
        width: 80%;
        color: $black;
        line-height: 95px;
        font-weight: 800;
        font-size: 70px;
        font-family: nuni;
        margin-bottom: 45px;
        @include mobile{
          font-size: 40px;
          line-height: 50px;
          width: 100%;
          margin-bottom: 30px;
        }
        span{
          color: $blue;
          font-family: nuni;
        }
      }
      .big{
        position: absolute;
        top: -10px;
        right: 290px;
        display: flex;
        @include mobile{
          right: 35px;
          top:100px;
        }
      }
      .layer{
        position: absolute;
        top: 100px;
        left: 650px;
      }
      .little{
        position: absolute;
        right: 300px;
        top: 210px;
        display: flex;
      }
      .auther_name_job{
        @include flex(space-between, flex-end, column);
        .author_name{
          color: $grey;
          font-weight: 700;
          font-size: 14px;
          margin-bottom: 10px;
        }
        .author_job{
          font-size: 12px;
          color: $grey;
        }
      }
    }
    .swiper{
      margin-bottom: 50px;
      .swiper_title{
        font-weight: 900;
        font-size: 24px;
        font-family: nuni;
        margin-bottom: 20px;
        span{
          color: $blue;
        }
      }
      .swiper_imges_con{
        @include flex();
      }
    }
  }
}