.container{
  .news_page{
    width: 100%;
    position: relative;
    .left{
      position: absolute;
      top: 50%;
      transform: translateX(50%);
      left: -115px;
    }
    .right{
      position: absolute;
      top: 50%;
      right: -140px;
      z-index: -10;
    }
    .news_page_middle{
      @include flex(space-between, flex-end);
      .news_page_title{
        width: 80%;
        color: $black;
        line-height: 95px;
        font-weight: 800;
        font-size: 70px;
        font-family: nuni;
        margin-bottom: 45px;
        span{
          color: $blue;
          font-family: nuni;
        }
      }
      .big{
        position: absolute;
        top: -10px;
        right: 290px;
        display: flex;
      }
      .layer{
        position: absolute;
        bottom: 80px;
        left: 650px;
      }
      .little{
        position: absolute;
        right: 300px;
        bottom: 0;
        display: flex;
      }
      .auther_name_job{
        @include flex(space-between, flex-end, column);
        .author_name{
          color: $grey;
          font-weight: 700;
          font-size: 14px;
          margin-bottom: 10px;
        }
        .author_job{
          font-size: 12px;
          color: $grey;
        }
      }
    }
    .swiper_title{
      font-weight: 900;
      font-size: 24px;
      font-family: nuni;
      margin-bottom: 20px;
      span{
        color: $blue;
      }
    }
  }
}