.page_our_courses{
  width: 100%;
  margin-top: -130px;
  min-height: calc(100vh - 240px);
  overflow: hidden;
  position: relative;
  padding-top: 130px;
  img{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  .container{
    .page_main{
      width: 100%;
      @include flex(center, center, column);
      .title{
        width: 50%;
        color: $black;
        font-weight: 800;
        font-size: $seventy;
        font-family: nuni;
        @include mobile{
          width: 100%;
          font-size: 30px;
          text-align: center;
        }
        span{
          color: $blue;
          font-family: nuni;
        }
      }
      .text{
        margin: 20px 0;
        color: $grey;
        font-size: $twenty;
        line-height: 30px;
        letter-spacing: 0.2px;
        @include mobile{
          font-size: 18px;
        }
      }
      .carts{
        margin-bottom: 50px;
        @include flex();
        @include mobile{
          flex-wrap: wrap;
          .cart{
            width: 48%;
            margin-bottom: 10px;
            padding: 20px 15px;
            svg{
              width: 40px;
              height: 40px;
            }
            .cart_title{
              p{
                font-size: 20px;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}