.container {
  width: 95%;
  max-width: 1420px;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: mont;
}

@font-face {
  font-family: "mont";
  src: url("./fonts/Montserrat/static/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "nuni";
  src: url("./fonts/Nunito/static/Nunito-Regular.ttf");
}
.container .line_svg_mobile {
  display: none;
}
@media (max-width: 640px) {
  .container .line_svg_mobile {
    display: block;
    position: absolute;
    top: -320px;
    left: -75px;
    z-index: -1;
  }
}
.container .header_mobile {
  display: none;
  padding: 20px 0 20px;
  position: relative;
  z-index: 3;
}
@media (max-width: 640px) {
  .container .header_mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
}
.container .header_mobile .hamburger_con .hamburger {
  cursor: pointer;
}
.container .header_mobile .hamburger_con .menu_mobile {
  position: absolute;
  left: 0;
  z-index: 3;
  background: rgba(29, 76, 242, 0.8);
  font-size: 12px;
  padding: 15px 20px;
  border-radius: 0 19px 13px 0;
}
.container .header_mobile .hamburger_con .menu_mobile a {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}
.container .header_mobile .hamburger_con .menu_mobile a, .container .header_mobile .hamburger_con .menu_mobile .menu_dropdown {
  color: white;
}
.container .header_mobile .hamburger_con .menu_mobile a span, .container .header_mobile .hamburger_con .menu_mobile .menu_dropdown span {
  width: 30%;
  background: white;
  height: 2px;
  margin-top: 10px;
}
.container .header_mobile .hamburger_con .menu_mobile .menu_dropdown .dropdown_main {
  cursor: pointer;
}
.container .header_mobile .hamburger_con .menu_mobile .menu_dropdown .dropdown_main svg {
  margin-left: 10px;
}
.container .header_mobile .hamburger_con .menu_mobile .menu_dropdown .dropdown_options .option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  text-decoration: underline;
  margin-top: 10px;
}
.container .header_mobile .hamburger_con .menu_mobile .menu_dropdown .dropdown_options .option span {
  width: 2px !important;
  height: 2px;
  border-radius: 1px;
  background: white;
  margin-right: 5px;
}
.container .header_mobile .hamburger_con .menu_mobile .menu_dropdown span {
  width: 30%;
  background: white;
  height: 2px;
  margin-top: 10px;
  display: block;
  margin-bottom: 10px;
}
.container .header_mobile .langMobile, .container .header_mobile .langMobile_options span {
  font-weight: 700;
  font-size: 9px;
  display: inline-block;
  color: #FFFFFF;
  background-color: #1D4CF2;
  padding: 6.5px 1.5px;
  border-radius: 50%;
  cursor: pointer;
}
.container .header_mobile .langMobile_con {
  position: relative;
}
.container .header_mobile .langMobile_options {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-direction: column;
  z-index: 3;
}
.container .header_mobile .langMobile_options span {
  margin-top: 10px;
}
.container .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 45px 0;
  position: relative;
  z-index: 100;
}
@media (max-width: 640px) {
  .container .header {
    display: none;
  }
}
.container .header .logo {
  position: relative;
  width: 30%;
}
.container .header .logo .line_svg {
  position: absolute;
  left: -335px;
  top: -505px;
  z-index: -1;
}
@media (max-width: 640px) {
  .container .header .logo .line_svg {
    display: none;
  }
}
.container .header .left {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.container .header .left .navbar {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 1000px) {
  .container .header .left .navbar {
    width: 85%;
  }
}
@media (max-width: 640px) {
  .container .header .left .navbar {
    display: none;
  }
}
.container .header .left .navbar a {
  text-decoration: none;
  color: #1D4CF2;
  font-size: 14px;
}
.container .header .left .navbar a.active {
  font-weight: 700;
}
.container .header .left .navbar .dropdown {
  color: #1D4CF2;
  font-size: 14px;
  border: none;
  outline: none;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}
.container .header .left .navbar .dropdown svg {
  display: flex;
  margin-left: 10px;
}
.container .header .left .lang span {
  width: 40px;
  font-family: mont;
  font-weight: 700;
  font-size: 14px;
  padding: 10px 3px;
  background-color: #1D4CF2;
  color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.container .header .left .lang #rus {
  margin-bottom: 14px;
}
.container .header .left .lang_con {
  position: relative;
  cursor: pointer;
}
.container .header .left .lang_con .dropdown {
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  background: rgba(29, 76, 242, 0.8);
  box-shadow: 0px 19px 13px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  color: #FFFFFF;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  font-family: mont;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
}

a {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
a .link {
  color: #FFFFFF;
  font-family: mont;
}

.line {
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: #FFFFFF;
  font-weight: 600;
}

.footer {
  width: 100%;
  padding: 10px 0 25px;
  background: linear-gradient(90.29deg, #1D4CF2 0%, #8845BE 24.41%, #DC899E 59.74%, #CBB6C0 81.96%, #7FCEDE 99.6%);
  -webkit-backdrop-filter: blur(0.5px);
          backdrop-filter: blur(0.5px);
  color: #FFFFFF;
}
@media (max-width: 640px) {
  .footer {
    padding: 17px 0 20px;
  }
}
.footer .container .parts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
}
@media (max-width: 640px) {
  .footer .container .parts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }
}
.footer .container .parts .titleMobile {
  display: none;
  font-size: 13px;
  font-weight: 800;
  margin-bottom: 15px;
}
@media (max-width: 640px) {
  .footer .container .parts .titleMobile {
    display: block;
  }
}
.footer .container .parts .mobile {
  display: block;
}
@media (max-width: 640px) {
  .footer .container .parts .mobile {
    display: none;
  }
}
.footer .container .parts .part {
  width: 20%;
}
@media (max-width: 640px) {
  .footer .container .parts .part {
    width: 100%;
    margin-bottom: 20px;
  }
}
.footer .container .parts .part .title {
  font-weight: 800;
  font-size: 18px;
  font-family: nuni;
  margin-bottom: 5px;
}
@media (max-width: 640px) {
  .footer .container .parts .part .title {
    font-size: 13px;
  }
}
.footer .container .parts .part span {
  font-size: 14px;
  line-height: 25px;
}
@media (max-width: 640px) {
  .footer .container .parts .part span {
    font-size: 11px;
  }
}
.footer .container .parts .part .icon_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 7px;
  cursor: pointer;
}
.footer .container .parts .part .icon_title:last-child {
  margin-bottom: 0;
}
.footer .container .parts .part .icon_title span {
  font-size: 14px;
  margin-left: 10px;
}
.footer .container .parts .footer_bottom {
  width: 100%;
  display: none;
}
@media (max-width: 640px) {
  .footer .container .parts .footer_bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
  }
}
.footer .container .parts .footer_bottom .footer_bottom_left {
  width: 50%;
}
.footer .container .parts .footer_bottom .footer_bottom_left .icon_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 8px;
}
.footer .container .parts .footer_bottom .footer_bottom_left .icon_title span {
  font-size: 9px;
  margin-left: 14px;
}
.footer .container .parts .footer_bottom .footer_bottom_right {
  width: 50%;
}
.footer .container .parts .footer_bottom .footer_bottom_right .icon_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 8px;
}
.footer .container .parts .footer_bottom .footer_bottom_right .icon_title span {
  font-size: 9px;
  margin-left: 14px;
}

.cart {
  width: 23%;
  height: 450px;
  background: #FFFFFF;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  padding: 30px 25px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.cart .cart_title {
  margin: 15px 0;
}
.cart .cart_title p {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
  font-family: nuni;
  margin-bottom: 15px;
}
.cart .cart_title .line {
  width: 25%;
  height: 2px;
  background-color: #1D4CF2;
  display: inline-block;
}
.cart .cart_text {
  line-height: 20px;
  font-size: 14px;
  color: #737373;
  letter-spacing: 0.2px;
  display: -webkit-box;
  -webkit-line-clamp: 11;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cart_student {
  margin-right: 4%;
  width: 22%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  margin-bottom: 30px;
}
.cart_student:nth-child(4n) {
  margin-right: 0;
}
.cart_student .img {
  width: 100%;
}
.cart_student .img img {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.cart_student .name {
  margin: 0 auto;
  font-weight: 900;
  font-size: 20px;
  line-height: 15px;
  font-family: nuni;
}
.cart_student .lName {
  margin-top: 10px;
}
.cart_student .course {
  font-weight: 500;
  font-size: 14px;
  color: #737373;
  margin: 15px 0 20px;
}
.cart_student .links {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.swiper_cart {
  position: relative;
}
.swiper_cart .swiper_img_con {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.swiper_cart .swiper_img_con .swiper_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.swiper_cart .swiper_texts {
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(29, 76, 242, 0.7) 100%);
  border-radius: 20px;
  padding: 15px 15px;
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  left: 0;
}
.swiper_cart .swiper_texts .title {
  font-family: nuni;
  font-weight: 900;
  font-size: 24px;
}
.swiper_cart .swiper_texts .description {
  font-size: 14px;
  margin: 19px 0 24px;
}
.swiper_cart .swiper_texts .cart_texts_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.swiper_cart .swiper_texts .cart_texts_bottom .date {
  font-family: "Courier New", Courier, monospace;
}
.swiper_cart .swiper_texts .cart_texts_bottom .location {
  font-family: "Courier New", Courier, monospace;
}

.container .home {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}
@media (max-width: 1000px) {
  .container .home {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}
.container .home .home_left {
  width: 45%;
}
@media (max-width: 1000px) {
  .container .home .home_left {
    width: 100%;
  }
}
.container .home .home_left .title {
  width: 100%;
  color: #110000;
  font-weight: 800;
  font-size: 70px;
  font-family: nuni;
  position: relative;
}
@media (max-width: 1000px) {
  .container .home .home_left .title {
    font-size: 50px;
  }
}
@media (max-width: 640px) {
  .container .home .home_left .title {
    font-weight: 800;
    font-size: 34px;
    line-height: 46px;
  }
}
.container .home .home_left .imgLine {
  position: absolute;
  top: 85px;
  left: 250px;
}
@media (max-width: 1000px) {
  .container .home .home_left .imgLine {
    top: 60px;
    left: 150px;
  }
}
@media (max-width: 640px) {
  .container .home .home_left .imgLine {
    display: none !important;
  }
}
.container .home .home_left .lineMobile {
  display: none;
}
@media (max-width: 640px) {
  .container .home .home_left .lineMobile {
    display: inline-block !important;
    position: absolute;
    top: 40px;
    left: 100px;
  }
}
.container .home .home_left .text {
  width: 80%;
  font-size: 20px;
  color: #737373;
  line-height: 30px;
  margin: 40px 0;
}
@media (max-width: 1000px) {
  .container .home .home_left .text {
    font-size: 16px;
  }
}
@media (max-width: 640px) {
  .container .home .home_left .text {
    width: 100%;
    font-size: 13px;
    line-height: 20px;
    margin: 12px 0 20px;
  }
}
.container .home .home_left .text span {
  color: #1D4CF2;
}
@media (max-width: 1000px) {
  .container .home .home_left Button {
    font-size: 12px !important;
  }
}
@media (max-width: 640px) {
  .container .home .home_left Button {
    font-size: 9px !important;
  }
}
.container .home .home_right {
  width: 50%;
}
@media (max-width: 1000px) {
  .container .home .home_right {
    width: 100%;
  }
}
.container .home .home_right .imgBack {
  width: 75%;
  position: absolute;
  right: -60px;
  bottom: -100px;
}
@media (max-width: 1000px) {
  .container .home .home_right .imgBack {
    width: 100%;
    position: absolute;
    bottom: -100px;
    left: 0;
    z-index: -1;
  }
}
@media (max-width: 640px) {
  .container .home .home_right .imgBack {
    display: none !important;
  }
}
.container .home .home_right .imageBackMobileCon {
  overflow: hidden;
}
.container .home .home_right .imgBackMobile {
  display: none;
}
@media (max-width: 640px) {
  .container .home .home_right .imgBackMobile {
    position: absolute;
    top: 195px;
    width: 105%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: -2.5%;
    display: block !important;
    padding-bottom: 125px;
  }
}

.container .page_info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 640px) {
  .container .page_info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}
.container .page_info .info_page_left {
  width: 50%;
  position: relative;
}
.container .page_info .info_page_left .imgBck {
  width: 115%;
  position: absolute;
  bottom: -465px;
  left: 30px;
  z-index: -1;
}
@media (max-width: 640px) {
  .container .page_info .info_page_left .imgBck {
    display: none;
  }
}
.container .page_info .info_page_right {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
}
@media (max-width: 640px) {
  .container .page_info .info_page_right {
    width: 100%;
    position: relative;
  }
}
.container .page_info .info_page_right .title {
  color: #110000;
  font-weight: 800;
  font-size: 70px;
  font-family: nuni;
}
@media (max-width: 640px) {
  .container .page_info .info_page_right .title {
    width: 100%;
    font-size: 34px;
    text-align: center;
    letter-spacing: -0.01em;
  }
}
.container .page_info .info_page_right .title span {
  color: #1D4CF2;
  font-family: nuni;
}
.container .page_info .info_page_right .text {
  margin: 40px 0 30px;
  color: #737373;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: end;
}
@media (max-width: 640px) {
  .container .page_info .info_page_right .text {
    width: 91%;
    margin: 12px 0;
    font-size: 13px;
    line-height: 20px;
  }
}
.container .page_info .info_page_right .info {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.container .page_info .info_page_right .info .num_text {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}
@media (max-width: 640px) {
  .container .page_info .info_page_right .info .num_text {
    margin-bottom: 3px;
  }
}
.container .page_info .info_page_right .info .num_text:last-child {
  margin-bottom: 40px;
}
@media (max-width: 640px) {
  .container .page_info .info_page_right .info .num_text:last-child {
    margin-bottom: 30px;
  }
}
.container .page_info .info_page_right .info .num_text .num {
  font-weight: 700;
  font-size: 24px;
  color: #1D4CF2;
  padding: 21px 20px;
  background: #ECECEC;
  margin-right: 21px;
}
@media (max-width: 640px) {
  .container .page_info .info_page_right .info .num_text .num {
    padding: 7px 10px;
    font-weight: 700;
    font-size: 16px;
  }
}
.container .page_info .info_page_right .info .num_text .num1 {
  border-radius: 302px 200px 200px 200px;
}
.container .page_info .info_page_right .info .num_text .num2 {
  border-radius: 200px 277px 200px 200px;
}
.container .page_info .info_page_right .info .num_text .num3 {
  border-radius: 200px 200px 291px 200px;
}
.container .page_info .info_page_right .info .num_text .num4 {
  border-radius: 200px 200px 200px 303px;
}
.container .page_info .info_page_right .info .num_text .num5 {
  border-radius: 200px 271px 200px 239px;
}
.container .page_info .info_page_right .info .num_text .num_text_text {
  width: 60%;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #737373;
}
@media (max-width: 640px) {
  .container .page_info .info_page_right .info .num_text .num_text_text {
    font-size: 13px;
    line-height: 18px;
  }
}
.container .page_info .info_page_right .info .num_text .num_text_text span {
  color: #1D4CF2;
}
.container .page_info .info_page_right Button {
  margin-bottom: 50px;
}
@media (max-width: 640px) {
  .container .page_info .info_page_right Button {
    margin-bottom: 0;
    font-size: 9px !important;
  }
}
.container .page_info .info_page_right .imgMobile {
  display: none;
}
@media (max-width: 640px) {
  .container .page_info .info_page_right .imgMobile {
    display: block !important;
    width: 105%;
    margin-right: -10px;
    position: relative;
    top: -100px;
    margin-bottom: -130px;
  }
}

.container .news_page {
  width: 100%;
  position: relative;
}
.container .news_page .left {
  position: absolute;
  top: 40%;
  transform: translateX(50%);
  left: -105px;
}
@media (max-width: 640px) {
  .container .news_page .left {
    display: none;
  }
}
.container .news_page .right {
  position: absolute;
  top: 20%;
  right: -140px;
  z-index: -10;
}
@media (max-width: 640px) {
  .container .news_page .right {
    display: none;
  }
}
.container .news_page .news_page_middle {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
}
@media (max-width: 640px) {
  .container .news_page .news_page_middle {
    width: 100%;
    flex-direction: column;
    margin-bottom: 30px;
  }
}
.container .news_page .news_page_middle .news_page_title {
  width: 80%;
  color: #110000;
  line-height: 95px;
  font-weight: 800;
  font-size: 70px;
  font-family: nuni;
  margin-bottom: 45px;
}
@media (max-width: 640px) {
  .container .news_page .news_page_middle .news_page_title {
    font-size: 40px;
    line-height: 50px;
    width: 100%;
    margin-bottom: 30px;
  }
}
.container .news_page .news_page_middle .news_page_title span {
  color: #1D4CF2;
  font-family: nuni;
}
.container .news_page .news_page_middle .big {
  position: absolute;
  top: -10px;
  right: 290px;
  display: flex;
}
@media (max-width: 640px) {
  .container .news_page .news_page_middle .big {
    right: 35px;
    top: 100px;
  }
}
.container .news_page .news_page_middle .layer {
  position: absolute;
  top: 100px;
  left: 650px;
}
.container .news_page .news_page_middle .little {
  position: absolute;
  right: 300px;
  top: 210px;
  display: flex;
}
.container .news_page .news_page_middle .auther_name_job {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}
.container .news_page .news_page_middle .auther_name_job .author_name {
  color: #737373;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
}
.container .news_page .news_page_middle .auther_name_job .author_job {
  font-size: 12px;
  color: #737373;
}
.container .news_page .swiper {
  margin-bottom: 50px;
}
.container .news_page .swiper .swiper_title {
  font-weight: 900;
  font-size: 24px;
  font-family: nuni;
  margin-bottom: 20px;
}
.container .news_page .swiper .swiper_title span {
  color: #1D4CF2;
}
.container .news_page .swiper .swiper_imges_con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.page_our_courses {
  width: 100%;
  margin-top: -130px;
  min-height: calc(100vh - 240px);
  overflow: hidden;
  position: relative;
  padding-top: 130px;
}
.page_our_courses img {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.page_our_courses .container .page_main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.page_our_courses .container .page_main .title {
  width: 50%;
  color: #110000;
  font-weight: 800;
  font-size: 70px;
  font-family: nuni;
}
@media (max-width: 640px) {
  .page_our_courses .container .page_main .title {
    width: 100%;
    font-size: 30px;
    text-align: center;
  }
}
.page_our_courses .container .page_main .title span {
  color: #1D4CF2;
  font-family: nuni;
}
.page_our_courses .container .page_main .text {
  margin: 20px 0;
  color: #737373;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
}
@media (max-width: 640px) {
  .page_our_courses .container .page_main .text {
    font-size: 18px;
  }
}
.page_our_courses .container .page_main .carts {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 640px) {
  .page_our_courses .container .page_main .carts {
    flex-wrap: wrap;
  }
  .page_our_courses .container .page_main .carts .cart {
    width: 48%;
    margin-bottom: 10px;
    padding: 20px 15px;
  }
  .page_our_courses .container .page_main .carts .cart svg {
    width: 40px;
    height: 40px;
  }
  .page_our_courses .container .page_main .carts .cart .cart_title p {
    font-size: 20px;
    margin-bottom: 0;
  }
}

.container .about {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 640px) {
  .container .about {
    flex-direction: column;
  }
}
.container .about .about_left {
  width: 50%;
}
@media (max-width: 640px) {
  .container .about .about_left {
    width: 100%;
  }
}
.container .about .about_left .about_title {
  color: #110000;
  font-weight: 800;
  font-size: 70px;
  font-family: nuni;
}
@media (max-width: 640px) {
  .container .about .about_left .about_title {
    font-size: 40px;
  }
}
.container .about .about_left .about_title span {
  color: #1D4CF2;
}
.container .about .about_left .text {
  font-size: 20px;
  line-height: 30px;
  color: #737373;
  margin: 20px 0;
}
@media (max-width: 640px) {
  .container .about .about_left .text {
    font-size: 16px;
    margin-top: 0;
  }
}
.container .about .about_left .text span {
  color: #1D4CF2;
}
.container .about .about_left .list li {
  font-size: 20px;
  line-height: 30px;
  color: #1D4CF2;
}
@media (max-width: 640px) {
  .container .about .about_left .list li {
    font-size: 16px;
  }
}
.container .about .about_left .open_img {
  width: 80%;
}
@media (max-width: 640px) {
  .container .about .about_left .open_img {
    width: 100%;
  }
}
.container .about .about_left .open_img .video {
  width: 100%;
  margin: 20px 0;
  border-radius: 20px;
}
.container .about .about_right {
  width: 50%;
  position: relative;
}
@media (max-width: 640px) {
  .container .about .about_right {
    width: 100%;
    height: 400px;
  }
}
.container .about .about_right img {
  width: 130%;
  position: absolute;
  bottom: -510px;
  left: -80px;
}
@media (max-width: 640px) {
  .container .about .about_right img {
    top: 0;
    left: 0;
    width: 100%;
  }
}

.web_page_con {
  background-image: url("../images/back5.png");
  background-repeat: no-repeat;
  background-position: center -95px;
}
.web_page_con .container .web_page {
  width: 100%;
}
.web_page_con .container .web_page .back {
  width: 100%;
  position: absolute;
  top: 100px;
  z-index: -1;
}
.web_page_con .container .web_page .web_page_top {
  width: 33%;
  margin: 0 auto 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 640px) {
  .web_page_con .container .web_page .web_page_top {
    width: 90%;
    margin-bottom: 20px;
  }
  .web_page_con .container .web_page .web_page_top button {
    padding: 10px 20px;
    font-size: 12px;
  }
}
.web_page_con .container .web_page .cards {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
@media (max-width: 640px) {
  .web_page_con .container .web_page .cards .cart_student {
    width: 48%;
    margin-right: 2%;
    padding: 10px;
  }
  .web_page_con .container .web_page .cards .cart_student:nth-child(2n) {
    margin-right: 0;
  }
  .web_page_con .container .web_page .cards .cart_student img {
    height: 200px;
  }
  .web_page_con .container .web_page .cards .cart_student .name {
    font-size: 18px;
  }
  .web_page_con .container .web_page .cards .cart_student .course {
    margin: 10px 0 15px;
  }
  .web_page_con .container .web_page .cards .cart_student .links {
    width: -moz-max-content;
    width: max-content;
  }
  .web_page_con .container .web_page .cards .cart_student .links a {
    margin: 0 5px;
  }
}/*# sourceMappingURL=App.css.map */